<div class="main-container doc-demo-main-container">
  <header class="header-6">
    <div class="branding">
      <a href="https://www.ecs.com.br">
        <cds-icon shape="user"></cds-icon>
        <span class="title">Marketplace</span>
      </a>
    </div>
    <div class="settings">
      <a href="https://www.ecs.com.br" class="nav-link nav-icon" aria-label="settings">
        <cds-icon shape="cog"></cds-icon>
      </a>
    </div>
  </header>
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="https://www.ecs.com.br">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.ecs.com.br">Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript://">Cloud</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript://">Tenants</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <form class="clr-form clr-form-horizontal">
        <div class="clr-form-control">
          <label for="example1" class="clr-control-label">Label</label>
          <div class="clr-control-container">
            <div class="clr-input-wrapper">
              <input type="text" id="example1" placeholder="Placeholder" class="clr-input" />
            </div>
          </div>
        </div>
        <div class="clr-form-control">
          <label for="example2" class="clr-control-label">Label</label>
          <div class="clr-control-container">
            <div class="clr-select-wrapper">
              <select placeholder="Select Option" id="example2">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
            </div>
          </div>
        </div>
        <div class="clr-form-control">
          <label for="example3" class="clr-control-label">Label</label>
          <div class="clr-control-container">
            <div class="clr-textarea-wrapper">
              <textarea id="example3" placeholder="Placeholder" class="clr-textarea"></textarea>
            </div>
          </div>
        </div>
        <div class="clr-form-control">
          <label for="example4" class="clr-control-label">Label</label>
          <div class="clr-control-container">
            <div class="clr-input-wrapper">
              <input type="text" id="example4" placeholder="Placeholder" class="clr-input" />
            </div>
            <span class="clr-subtext">Helper Text</span>
          </div>
        </div>
      </form> 
      <cds-icon shape="user" aria-label="This is an icon example that shows how to use the icon element in an application"></cds-icon>

  </div>
</div>